h1 {
	font-family: 'Julius Sans One', sans-serif;
	color: #bcbbbb;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	color: #bcbbbb;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	color: #bcbbbb;
}

h4 {
	font-family: 'Lato', sans-serif;
}

h5 {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 80%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	margin: auto;
}

.chart {
	margin-left: 10%;
	margin-right: 10%;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

a {
	color: #ccc;
	font-weight: 800;
}

#steamGraph {
	max-width: 90%;
	margin-left: 10%;
	margin-right: 10%;
}